body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-width: 400px;
}
input {
  border: 1px solid #5f9341;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#input-btn,
#tab-btn {
  border: none;
  padding: 0.6rem 1rem;
  color: white;
  background-color: #5f9341;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
#del-btn {
  border: none;
  padding: 0.5rem 1rem;
  color: #5f9341;
  background-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #5f9341;
  box-sizing: border-box;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
  color: #5f9341;
}

a {
  color: #5f9341;
}
